[Desktop Entry]
Name[bg]=Varia
Name[de]=Varia
Name[hi]=Varia
Name[it]=Varia
Name[nl]=Varia
Name[oc]=Varia
Name[pt_BR]=Varia
Name[ru]=Varia
Name[tr]=Varia
Name[fr]=Varia
Name[zh_TW]=Varia
Name[nb]=Varia
Name[ja]=Varia
Name[es]=Varia
Name[fa]=Varia
Name[zh_CN]=Varia
Name[id]=Varia
Name[ia]=Varia
Name[hu]=Varia
Name[vi]=Varia
Name[pl]=Varia
Name[et]=Varia
Name[ar]=Varia
Name[ta]=வரியா
Name[fi]=Varia
Name[sk]=Varia
Name[ca]=Varia
Name[pt]=Varia
Name[kw]=Varia
Name[cs]=Varia
Name=Varia
Comment=Download files, videos and torrents
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=varia --file-forwarding io.github.giantpinkrobots.varia @@u %u @@
Icon=io.github.giantpinkrobots.varia
Terminal=false
Type=Application
Categories=Network
Keywords=varia;aria;download;manager;torrent;bittorrent;video;audio;media;ytdlp;YouTube;downloader
StartupNotify=true
X-Flatpak=io.github.giantpinkrobots.varia
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
DBusActivatable=true
