[Desktop Entry]
Type=Application
Name=LibreWolf CSS Setup
Icon=io.gitlab.librewolf-community
Exec=/usr/bin/setup-librewolf-css
Terminal=false
NoDisplay=true
