[Desktop Entry]
Type=Application
Name=Universal Android Debloater
Comment=Debloat Android devices
Exec=/usr/bin/uad
Icon=phone
Terminal=false
Categories=Utility;Settings;
